:root {
  --outer-margin: 80px;
  --outer-margin-responsive: 30px;
}
.addtaskoverlay-close-button {
  border: none;
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.addtask-maincontainer {
  width: calc(100% - 232px);
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
}

.at-headline-maincontainer {
  height: auto;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.at-headline-maincontainer h1 {
  margin-left: var(--outer-margin);
  font-size: 61px;
}

.at-body-maincontainer {
  height: auto;
  max-height: 515px;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  margin-bottom: 44px;
  gap: 48px;
}

.at-body-leftinput {
  height: 100%;
  flex: 1;
  margin-top: 20px;
}

.at-body-emptydiv {
  background-color: rgb(128, 128, 128, 0.5);
  width: 1px;
}

.at-body-rightinput {
  height: 100%;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 44px;
}

.at-footer-maincontainer {
  height: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.at-footer-requiredtext {
  height: 20px;
  width: 200px;
  margin-left: var(--outer-margin);
}

.at-footer-buttoncontainer {
  margin-right: var(--outer-margin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.addtask-overlaycontainer {
  position: relative;
  width: 100%;
  max-width: 1116px;
  height: auto;
  max-height: 870px;
  background-color: white;
  border-radius: 30px;
  /*  animation: slideIn 0.2s ease-out forwards; */
  display: flex;
  flex-direction: column;
}

.addtask-maincontainer {
  width: calc(100% - 232px);
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
  overflow-y: auto;
}

.at-headline-maincontainer {
  height: auto;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.at-headline-maincontainer h1 {
  margin-left: var(--outer-margin);
  font-size: 61px;
}

.at-body-maincontainer {
  height: auto;
  max-height: 515px;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  margin-bottom: 44px;
  gap: 48px;
}
