body{
    padding-left: 120px;
}
.addtask-maincontainer{
    height: 80vh;
    width: 75%;
    position: fixed;
    top: 15%;
    left: 290px;
    display: flex;
    flex-direction: column;
}
.at-headline-maincontainer{
    
    height: 20%;
    display: flex;
    align-items: center;
}
.at-headline-maincontainer h1{
    margin-left: 40px;
    font-size: 61px;

}
.at-body-maincontainer{
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    gap: 48px;
    
}
.at-body-leftinput{
    
    height: 70%;
    flex: 1;
    margin-top: 20px;
}
.at-body-emptydiv{
    background-color: rgb(128, 128, 128, 0.5);
    width: 1px;
    height: 85%;
}
.at-body-rightinput{
    
    height: 80%;
    flex: 1;
    margin-top: 20px;
}
.at-footer-maincontainer{
    
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.at-footer-requiredtext{
    
    height: 20px;
    width: 200px;
    position: relative;
    top: 25%;
    left: 3%;
}
.at-footer-buttoncontainer{
    
    height: 40%;
    width: 300px;
    position: relative;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

