.board-maincontainer {
    height: 100%;
    width: calc(100% - 232px);
    margin-left: 232px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
}

.full-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 64px;
}

.board-container {
    width: 86%;
    max-width: 1560px;
    margin-right: auto;
    height: 100%;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

.board-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 176px;
    height: 73px;
}

.board-input {
    display: flex;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
    max-width: 1920px;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 48px;
}

.search {
    width: 100%;
    height: 100%;
    border: solid 1px #a8a8a8;
    border-radius: 10px;
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    background-image: url(img/search.png);
    background-position: right 16px center;
    background-repeat: no-repeat;
}

.search:focus {
    outline-color: var(--brand-blue);
}

.search::placeholder {
    color: #d1d1d1;
}

.separator-search {
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 56px;
    height: 70%;
    width: 1px;
    background-color: #d1d1d1;
    margin-left: 16px;
}

.button-primary span {
    font-size: 21px;
    font-weight: 700;
}

.board-columns {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    width: 100%;
    height: 100%;
}

.single-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 48px;
    width: 20%;
}

.tasks {
    height: 100%;
    border-color: black;
    border: dashed 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.task-scroll::-webkit-scrollbar {
    display: none;
}

.column-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.column-description img {
    width: 24px;
    height: 24px;
    transition: all 400ms;
}

.column-description img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.column-description span {
    font-size: 20px;
    font-weight: 700;
    color: var(--brand-dark);
}

.example {
    width: 100%;
    height: 200px;
    background-color: blue;
    border-radius: 16px;
    margin-bottom: 16px;
}

.empty-column {
    width: 98%;
    height: 48px;
    border-radius: 10px;
    border: dashed #a8a8a8;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-column span {
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1250px) {

    .full-board {
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 40px;
    }

    .full-board::-webkit-scrollbar {
        display: none;
    }

    .task-scroll::-webkit-scrollbar {
        display: block;
    }

    .board-columns {
        width: 100%;
    }

    .board-columns {
        flex-direction: column;
        margin-top: 48px;
    }

    .single-column {
        width: 100%;
        flex: 0;
        margin-top: 0;
    }

    .tasks {
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .task-scroll {
        display: flex;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
    }

    .example {
        width: 252px;
        margin-right: 16px;
        height: 244px;
        margin-bottom: 0;
        flex-shrink: 0;
    }

    .column-description {
        width: 240px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 8px;
    }

    .empty-column {
        width: 252px;
    }
}

@media(max-width: 1000px) {
    .board-maincontainer {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
}