/* contact list */

.contact-details {
  width: 456px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 4px -1px 4px var(--shadow-color);
  z-index: 1;
}

.list-container {
  overflow-y: scroll;
}

.button-container {
  position: fixed;
  width: 400px;
  z-index: 2;
  background-color: white;
  display: flex;
  justify-content: center;
}

.add-contact-btn {
  width: 80%;
  height: 56px;
  margin-top: 22.5px;
  margin-bottom: 8px;
  position: sticky;
  top: 22.5px;
  z-index: 1;
}

.add-contact-btn img {
  width: 32px;
  height: 32px;
}

.contact-list {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.letter-alph {
  width: 80%;
  height: 58px;
  padding: 32px 24px 32px 24px;
  display: flex;
  align-items: center;
}

.letter-alph span {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.separator-contacts {
  height: 1px;
  width: 80%;
  background-color: #d1d1d1;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 1px 0 0 0;
}

.single-contact {
  width: 80%;
  height: 78px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  padding: 15px 0px 15px 0px;
}

.sc-color:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #f5f5f5, #e0e0e0);
}

.cl-avatar {
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  margin-left: 24px;
}

.cl-overlay-text {
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.single-contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.max-mail-length {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.single-contact-details span {
  font-size: 20px;
  font-weight: 400;
}

.single-contact-details a {
  color: var(--brand-blue);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

/* contact list */

/* full contact details */

.show-full-contact {
  width: 100%;
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
}

.contacts-headline {
  margin-top: 110px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 27px;
  font-weight: 400;
}

.spacer {
  background-color: var(--brand-blue);
  height: 59px;
  width: 3px;
}

.contacts-headline h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.full-contact-container {
  height: 100%;
  width: calc(100%-55px);
  position: relative;
  margin-left: 55px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%); /* Start from off-screen to the right */
    opacity: 0; /* Start fully transparent */
  }
  to {
    transform: translateX(0); /* End at the original position */
    opacity: 1; /* End fully opaque */
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0); /* Start from off-screen to the right */
    opacity: 1; /* Start fully transparent */
  }
  to {
    transform: translateX(100%); /* End at the original position */
    opacity: 0; /* End fully opaque */
  }
}

.full-contact-text {
  height: 100%;
  width: calc(100% - 55px);
  position: absolute;
  top: 0;
  animation: slideIn 0.2s ease-out forwards; /* Apply the slide-in animation */
  opacity: 0; /* Start fully transparent */
}

.contact-out {
  left: 100%;
}

.ci-head {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 54px;
}

.ci-avatar {
  height: 114px;
  width: 114px;
  background-color: orange;
  color: white;
  font-size: 47px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 100%;
}

.ci-name {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  margin-bottom: 8px;
}

.ci-actions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.ci-actions-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.ci-actions svg {
  height: 20px;
  width: 20px;
}

.ci-actions-item:hover {
  color: var(--brand-blue);
}

.ci-actions-item:hover svg path {
  fill: var(--brand-blue);
}

.ci-text {
  font-size: 20px;
  line-height: 24px;
  margin-top: 46px;
  margin-bottom: 46px;
}

.info-block {
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16;
}

.ci-info-text {
  font-weight: 700;
}

.ci-mailaddress {
  color: var(--brand-blue);
}

/* full contact details */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.display-message {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -161px;
  z-index: 100;
  width: 326px;
  height: 74px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-dark);
  color: white;
  font-size: 20px;
  font-weight: 400;
  animation: fadeIn 200ms;
  transition: opacity 300ms ease-in-out;
}
