/* contact list */

.contact-details {
  width: 456px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.add-contact-btn {
  width: 80%;
  height: 56px;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px, 0px, 12px, 0px;
  border: 1px;
  border-radius: 10px;
}

.add-contact-btn img {
  width: 32px;
  height: 32px;
}

.contact-list {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.letter-alph {
  width: 80%;
  margin-left: 28px;
  height: 58px;
  padding: 32px, 24px, 32px, 24px;
  display: flex;
  align-items: center;
}

.letter-alph span {
  font-size: 20px;
  font-weight: 400;
}

.separator-contacts {
  height: 1px;
  width: 80%;
  background-color: #d1d1d1;
  margin-top: 8px;
  margin-bottom: 8px;
}

.single-contact {
  width: 80%;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
}

.single-contact:hover {
  cursor: pointer;
  background-color: lightgray;
}

.contact-image-container {
  position: relative;
  text-align: center;
}

.contact-image-container img {
  width: 42px;
  height: 42px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.single-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* contact list */

/* full contact details */

.show-full-contact {
  width: 100%;
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
}

.contacts-headline {
  margin-top: 110px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 27px;
  font-weight: 400;
}

.spacer {
  background-color: var(--brand-blue);
  height: 59px;
  width: 3px;
}

.contacts-headline h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.full-contact-container {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 55px;
}

.full-contact-text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 200ms ease-in-out;
}

.contact-out {
  left: 100%;
}

.ci-head {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 54px;
}

.ci-avatar {
  height: 114px;
  width: 114px;
  background-color: orange;
  color: white;
  font-size: 47px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 100%;
}

.ci-name {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  margin-bottom: 8px;
}

.ci-actions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.ci-actions-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ci-actions img {
  height: 20px;
}

.ci-text {
  font-size: 20px;
  line-height: 24px;
  margin-top: 46px;
  margin-bottom: 46px;
}

.info-block {
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16;
}

.ci-info-text {
  font-weight: 700;
}

.ci-mailaddress {
  color: var(--brand-blue);
}

/* full contact details */
