/* navigation */

.navigation {
  background-color: rgb(43, 53, 72);
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px;
}

.join-logo {
  height: 121px;
  width: 100px;
  margin-top: 64px;
  margin-bottom: 114px;
}

.navigation-items-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 114px;
}

.navigation-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #cdcdcd;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.navigation-item:hover {
  background-color: #485669;
}

.navigation-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.footer-notes {
  display: flex;
  flex-direction: column;
  color: #cdcdcd;
  font-size: 16px;
  cursor: pointer;
}

.footer-notes span {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-notes span:hover {
  color: #29abe1;
}

/* navigation end */
