:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
  --background-main: rgba(246, 247, 248, 1);
  --brand-blue: rgba(41, 171, 226, 1);
  --brand-dark: rgba(42, 54, 71, 1);
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  height: 100vh;
  overflow: hidden;
}

.main {
  background-color: var(--background-main);
  height: calc(100% - 96px);
  margin-top: 96px;
  margin-left: 220px;
  display: flex;
  justify-content: flex-start;
}

.button-primary {
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px, 0px, 12px, 0px;
  border: 1px;
  border-radius: 10px;
}
