@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
.contact-details {
  width: 456px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.add-contact-btn {
  width: 80%;
  height: 56px;
  background-color: #2A3647;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px, 0px, 12px, 0px;
  border: 1px;
  border-radius: 10px;
}
.add-contact-btn img {
  width: 32px;
  height: 32px;
}
.contact-list {
  width: 400px;
}