:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
  --background-main: rgba(246, 247, 248, 1);
  --brand-blue: rgba(41, 171, 226, 1);
  --brand-dark: rgba(42, 54, 71, 1);
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  height: 100vh;
  overflow: hidden;
}

/* header */

header {
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  box-shadow: 0 4px 4px 0 var(--shadow-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
}

.header-left {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  gap: 12px;
}

.user-profile-initials {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--brand-dark);
  border-radius: 100%;
  color: var(--brand-blue);
  font-weight: 500;
}

/* header end */

/* navigation */

.navigation {
  background-color: rgb(43, 53, 72);
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px;
}

.join-logo {
  height: 121px;
  width: 100px;
  margin-top: 64px;
  margin-bottom: 114px;
}

.navigation-items-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 114px;
}

.navigation-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #cdcdcd;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.navigation-item:hover {
  background-color: #485669;
}

.navigation-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.footer-notes {
  display: flex;
  flex-direction: column;
  color: #cdcdcd;
  font-size: 16px;
  cursor: pointer;
}

.footer-notes span {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-notes span:hover {
  color: #29abe1;
}

/* navigation end */

.main {
  background-color: var(--background-main);
  height: calc(100% - 96px);
  margin-top: 96px;
  margin-left: 232px;
  display: flex;
  justify-content: flex-start;
}

/* contact list */

.contact-details {
  width: 456px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.add-contact-btn {
  width: 80%;
  height: 56px;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px, 0px, 12px, 0px;
  border: 1px;
  border-radius: 10px;
}

.add-contact-btn img {
  width: 32px;
  height: 32px;
}

.contact-list {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.letter-alph {
  width: 80%;
  margin-left: 28px;
  height: 58px;
  padding: 32px, 24px, 32px, 24px;
  display: flex;
  align-items: center;
}

.letter-alph span {
  font-size: 20px;
  font-weight: 400;
}

.separator-contacts {
  height: 1px;
  width: 80%;
  background-color: #d1d1d1;
  margin-top: 8px;
  margin-bottom: 8px;
}

.single-contact {
  width: 80%;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
}

.single-contact:hover {
  cursor: pointer;
  background-color: lightgray;
}

.contact-image-container {
  position: relative;
  text-align: center;
}

.contact-image-container img {
  width: 42px;
  height: 42px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.single-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* contact list */

/* full contact details */

.show-full-contact {
  width: 100%;
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
}

.contacts-headline {
  margin-top: 110px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 27px;
  font-weight: 400;
}

.spacer {
  background-color: var(--brand-blue);
  height: 59px;
  width: 3px;
}

.contacts-headline h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.full-contact-container {
  background-color: aqua;
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 55px;
}

.full-contact-text {
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 200ms ease-in-out;
}

.contact-out {
  left: 100%;
}

/* full contact details */
