.task-small-main {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.08);
    min-height: 215px;
    width: 92%;
    border-radius: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 8px;
    margin-top: 8px;
}

.ts-content {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ts-category {
    background-color: #0038FF;
    height: 27px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.ts-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}
.ts-title { 
    min-height: 36px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    hyphens: auto;
}

.ts-description {
    min-height: 38px;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.ts-footer {
    height: 32px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ts-avatars {
    display: flex;
}

.ts-avatar {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    font-size: 12px !important;
    font-weight: 400;
}

  .ts-avatar2 {
    z-index: 2;
    margin-left: -9px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    font-size: 12px !important;
    font-weight: 400;
}

.ts-priority {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.ts-subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    margin-top: 24px;
}

.ts-bar {
    width: 55%;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.ts-bar-percentage {
    background-color: #4589FF;
    width: 50%;
    height: 8px;
    border-radius: 8px;
}

.ts-progress {
    font-weight: 400;
    font-size: 12px;
}

@media (max-width: 1250px) {
    .task-small-main {
        height: 92%;
        width: 252px;
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 0;
        margin-bottom: 0;
    }
}